@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font: normal 1.6rem "Open Sans", sans-serif;
  background-color: #79a9d1;
}

header .conteiner {
  width: 100vw;
  max-width: 90%;
  margin: 5vh auto;
}

header .conteiner h1 {
  text-align: center;
}

main .conteiner {
  width: 100vw;
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.calculadora {
  padding: 1rem;
  display: flex;
  width: 100%;
  max-width: 40rem;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 1px 1px 10px #1b6099;
  border-radius: 10px;
  background-color: white;
}

.calculadora > input {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  width: 50%;
}

.box__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}

.box__btn button {
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1em;
  border: 1px solid #1b6099;
}

.box__btn button:hover {
  box-shadow: 1px 1px 5px #1b6099;
}

footer .conteiner {
  max-width: 90%;
  width: 100vw;
  margin: 5rem auto;
}

footer .conteiner p {
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
}

.social div {
  width: 5rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #1b6099;
}

.social div > a > img {
  width: 100%;
}

.social div:hover {
  background-color: white;
}

@media screen and (max-width: 440px) {
  html {
    font-size: 50%;
  }
}
/* 
.calculadora-design {
  width: 500px;
  margin: auto;
  padding: 1%;
  border-radius: 20px;
  border: 1px solid black;
}

.title {
  text-align: center;
  margin-top: 0;
}

.input-itens {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}

.calculadora {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 15px;
}

.input-button {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

#txtn1,
#txtn2,
#txtop {
  width: 60%;
  height: 30px;
  font-size: 1em;
  text-align: center;
  align-self: center;
  border: 1px solid black !important;
}

label {
  text-align: center;
}

.resposta {
  display: none;
  justify-content: center;
  column-gap: 10px;
  margin-top: 20px;
} */

/*ipad*/
/* @media (max-width: 912px) {
  body {
    font-size: 30px !important;
  }

  .calculadora-design {
    width: 80% !important;
    padding: 20px !important;
  }

  .calculadora {
    padding: 30px 0 !important;
  }

  #txtn1,
  #txtn2,
  #txtop {
    height: 50px !important;
    border: 1px solid black !important;
  }

  .input-button input {
    font-size: 20px !important;
    padding: 10px;
  }

  .input-button {
    gap: 50px !important;
  }
}

@media (max-width: 722px) {
  body {
    font-size: 20px !important;
  }
}

@media (max-width: 472px) {
  body {
    font-size: 20px !important;
  }

  .calculadora-design {
    padding: 30px !important;
    width: 80% !important;
  }

  .calculadora {
    padding: 40px 0 !important;
  }

  #txtn1,
  #txtn2,
  #txtop {
    height: 30px !important;
    border: 1px solid black !important;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 20px !important;
  }
}

@media (max-width: 280px) {
  body {
    font-size: 15px !important;
  }

  .input-button input {
    font-size: 15px !important;
  }

  .calculadora-design {
    padding: 20px !important;
  }
} */
